@tailwind base;
@tailwind components;
@tailwind utilities;

.glassCard {
	background: rgba(255, 254, 254, 0.3);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassCard:hover {
	background: rgba(255, 254, 254, 0.7);
}

.glassCard:hover h2 {
	color: rgb(80, 29, 1);
}

.glassInfoCard {
	background: rgba(108, 42, 17, 0.9);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassInfoCard:hover {
	background: rgba(105, 40, 8, 0.537);
}

.glassInfoCard:hover h2 {
	color: rgb(80, 29, 1);
}
